html {
  scroll-behavior: smooth;
}

/* mobile view first */

/* index.html flip card on mobile view flex column, with wider flip card*/
.brief-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
  padding-top: 20px;
  padding-left: 50px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    text-align: center;
}

.flip-card-back {
    color: rgb(29, 27, 27);
    transform: rotateY(180deg);
}
.flip-card-back p, .flip-card-front p, .flip-card-back h2, .flip-card-front h2{
  text-align: center;
  margin-top: 100px;
  padding: 0% 10% 10% 10%;
}

.flip-card-front img, .flip-card-front img{
  width: 300px;
  height: 300px;
  margin-top: 100px;
}

/* mobile view links */

a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(74, 110, 19);
  text-decoration: rgb(224, 207, 175);
  text-shadow: rgb(97, 96, 96);
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.text-center {
  margin-top: 20px;
}

/* mobile view navigation bar */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links{ 
  display: flex;
  flex-direction: column;
  flex-direction: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
  font-size: larger;
}



/* mobile view image size */

img {
    width: 300px;
    /* border: 10px solid rgb(92, 118, 206); */
    padding: 10px;
    margin: 10px;
}


#background {
  background-image: url(../images/background.jpg);
  background-size: cover;
  margin: 5px;
  padding: 5px;
}

.google_font {
  font-family: "Trirong", serif;
  font-size: 30px;
}

.icon_style {
  font-size: 5px;
}


.head-in-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
    font-family: helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 50px;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 30px;
    max-width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 .title{
  font-family: 'Work Sans', helvetica, sans-serif;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bolder;
  text-transform: uppercase;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

#background h1{
    font-size: larger;
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 5s; 
    animation-name: 'fadeIn';
    animation-duration: 5s;
    background-color: rgb(169, 169, 235);
}

footer{
    background-color: #326DED;
    font-size: 20px;
    text-align: center;
    bottom: 0;

}

footer p{
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
}

/* mobile view flex */

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* mobile view grid */
.grid-container{
  display: grid;
  width: 95%;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 80%;
  grid-template-rows: repeat(18, auto);
}


.item1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.item1-text {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.item2 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.item2-text {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}
.item3 {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
}
.item3-text {
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}
.item4 {
  grid-row: 7 / span 1;
  grid-column: 1 / span 1;
}
.item4-text {
  grid-row: 8 / span 1;
  grid-column: 1 / span 1;
}
.item5 {
  grid-row: 9 / span 1;
  grid-column: 1 / span 1;
}
.item5-text {
  grid-row: 10 / span 1;
  grid-column: 1 / span 1;
}
.item6 {
  grid-row: 11 / span 1;
  grid-column: 1 / span 1;
}
.item6-text {
  grid-row: 12 / span 1;
  grid-column: 1 / span 1;
}
.item7 {
  grid-row: 13 / span 1;
  grid-column: 1 / span 1;
}
.item7-text {
  grid-row: 14 / span 1;
  grid-column: 1 / span 1;
}
.item8 {
  grid-row: 15 / span 1;
  grid-column: 1 / span 1;
}
.item8-text {
  grid-row: 16 / span 1;
  grid-column: 1 / span 1;
}
.item9 {
  grid-row: 17 / span 1;
  grid-column: 1 / span 1;
}
.item9-text {
  grid-row: 18 / span 1;
  grid-column: 1 / span 1;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallary img {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


/* large screen */
@media only screen and (min-width: 1000px) {

  /* larger screen flex */
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* large scrren flip card */
  .brief-intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;
    perspective: 1000px;
    padding-top: 20px;
    padding-left: 50px;
}
  .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner{
      transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .flip-card-front p, h2{
    text-align: center;
  }

  .flip-card-back {
      color: rgb(29, 27, 27);
      transform: rotateY(180deg);
  }

  .flip-card-back p, .flip-card-front p, .flip-card-back h2, .flip-card-front h2{
    text-align: center;
    margin-top: 50px;
    padding: 0% 10% 15% 10%;
  }
  
  .flip-card-front img, .flip-card-back img{
    width: 200px;
    height: 200px;
    margin-top: 125px;
  }

/* larger screen navigation bar */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-links{ 
  display: flex;
  flex-direction: row;
  flex-direction: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

  .head-in-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-text {
      font-family: helvetica, sans-serif;
      font-weight: bold;
      letter-spacing: 0.04em;
      font-size: 50px;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      padding-top: 24px;
      padding-bottom: 30px;
      max-width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 .title{
    font-family: 'Work Sans', helvetica, sans-serif;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
  }

  /* .grid-container {
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
  }
  
  .grid-container img {
    grid-column: 2 / span 1;
    justify-self: center;
  }
  
  .grid-container p {
    text-align: center;
    grid-column: 2 / span 1;
  }
  
  .grid-container h2 {
    text-align: center;
    grid-column: 2 / span 1;
  } */

  .grid-container {
    /* margin-right: 50fx; */
    display: grid;
    /* justify-content: start;
    align-content: start;
    align-items: start;
    justify-items: start; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .item1-text {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .item2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .item2-text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .item3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .item3-text {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .item4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .item4-text {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  .item5 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .item5-text {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }
  .item6 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
  .item6-text {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
  }
  .item7 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
  }
  .item7-text {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
  }
  .item8 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
  }
  .item8-text {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
  }
  .item9 {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
  }
  .item9-text {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
  }


  .gallary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* .item {
    flex-basis: 350px;
  } */
  .item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallary img {
    width: 300px;
    height: 300px;
    margin-left: 100px;
  }

  .paragraph {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
  }

  .img-in-paragraph {
    width: 200px;
    height: 200px;
  }
}


@media screen and (prefers-reduced-motion: reduce) {
  #background h1 {
    animation: none;
  }

  #image-animation {
    animation: none;
  }
}

legend {
  font-size: 150%;
  font-style: italic;
  text-align: center;
}

#image-animation {
  animation: grow_img 5s 1;
}

@keyframes grow_img {
  from {
    width: 25px;
    opacity: 0;
  }
  to {
    width: 600px;
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .flip-card:hover .flip-card-inner{
      transform: none;
  }
  .flip-card:focus-within .flip-card-inner{
      transform: none;
  }
  .flip-card-inner{
      transform-style: initial;
  }
}

/* tablet view */
/* @media only screen and (min-device-width: 500px) and (max-device-width: 900px) { */
@media only screen and (min-width: 600px) and (max-width: 1200px) {

  /* .flip-card {
      grid-column: 1;
      grid-gap: 30px;
      justify-items: center;
  }
  .flip-card-inner {
      grid-gap: 0px; 
  } */

  /* tablet flip card */

  .brief-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flip-card {
    background-color: transparent;
    width: 700px;
    height: 500px;
    perspective: 1000px;
    padding-top: 20px;
    padding-left: 50px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner{
      transform: rotateY(180deg);
  }
  .flip-card-front,
  .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .flip-card-front p, h2{
    text-align: center;
  }

  .flip-card-back {
      color: rgb(29, 27, 27);
      transform: rotateY(180deg);
  }

  .flip-card-back p, .flip-card-front p, .flip-card-back h2, .flip-card-front h2{
    text-align: center;
    margin-top: 50px;
    padding: 0% 10% 15% 10%;
  }

  .flip-card-front img{
    width: 300px;
    height: 300px;
    margin-top: 90px;
  }

  .flip-card-back img {
    width: 200px;
    height: 200px;
  }


  /* tablet view nav bar */
  header {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  
  .nav-links{ 
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  /* table grid */
  .grid-container{
    display: grid;
    width: 95%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 80%;
    grid-template-rows: repeat(18, auto);
  }
  
  
  .item1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .item1-text {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .item2 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .item2-text {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
  .item3 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
  .item3-text {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
  }
  .item4 {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
  }
  .item4-text {
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
  }
  .item5 {
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
  }
  .item5-text {
    grid-row: 10 / span 1;
    grid-column: 1 / span 1;
  }
  .item6 {
    grid-row: 11 / span 1;
    grid-column: 1 / span 1;
  }
  .item6-text {
    grid-row: 12 / span 1;
    grid-column: 1 / span 1;
  }
  .item7 {
    grid-row: 13 / span 1;
    grid-column: 1 / span 1;
  }
  .item7-text {
    grid-row: 14 / span 1;
    grid-column: 1 / span 1;
  }
  .item8 {
    grid-row: 15 / span 1;
    grid-column: 1 / span 1;
  }
  .item8-text {
    grid-row: 16 / span 1;
    grid-column: 1 / span 1;
  }
  .item9 {
    grid-row: 17 / span 1;
    grid-column: 1 / span 1;
  }
  .item9-text {
    grid-row: 18 / span 1;
    grid-column: 1 / span 1;
  }
  
}

@media only screen and (min-width: 1200px) {
  .flip-card {
      grid-template-rows: 1;
      grid-template-columns: 20% 80%;
      grid-gap: 10px;
  }
  .flip-card-inner  {
      grid-gap: 10px; 
  }
}

